/* CSS/styles.css */

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #4CAF50;
    color: white;
    text-align: center;
    padding: 10px;
}

main {
    display: flex;
    justify-content: space-between;
    margin: 20px;
}

#product-list, #cart {
    width: 45%;
}

.product, #cart-items li {
    border: 1px solid #ddd;
    margin: 10px;
    padding: 10px;
    border-radius: 5px;
}

.product img {
    max-width: 100px;
    height: auto;
}

button {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    border-radius: 5px;
}

button:hover {
    background-color: #45a049;
}

#cart-summary {
    border-top: 2px solid #4CAF50;
    padding-top: 10px;
}

#cart-empty-message {
    color: #999;
    font-style: italic;
    text-align: center;
    margin-top: 20px;
}

/* Estilo para el botón COMPRAR cuando está desactivado */
#checkout-btn:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}

