/* General */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

/* Header */
header {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
    text-align: center;
}

/* Main Section */
main {
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

/* Productos */
#products-container {
    width: 70%;
}

.product {
    border: 1px solid #ddd;
    margin-bottom: 20px;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.product img {
    width: 100px;
    height: auto;
    margin-right: 20px;
}

.product-details {
    flex-grow: 1;
}

.product button {
    background-color: #28a745;
    border: none;
    color: white;
    padding: 10px;
    cursor: pointer;
}

.product button:hover {
    background-color: #218838;
}

/* Carrito de Compras */
#cart-container {
    width: 25%;
    border: 1px solid #ddd;
    padding: 20px;
    background-color: #f9f9f9;
}

#cart-items {
    max-height: 400px;
    overflow-y: auto;
}

.cart-item {
    border-bottom: 1px solid #ddd;
    padding: 10px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cart-item img {
    width: 50px;
    height: auto;
    margin-right: 10px;
}

.cart-item .item-details {
    flex-grow: 1;
}

.cart-item button {
    background-color: #6c757d;
    border: none;
    color: white;
    padding: 5px;
    cursor: pointer;
}

.cart-item button:hover {
    background-color: #5a6268;
}

#cart-total {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.btn-checkout {
    background-color: #007bff;
    border: none;
    color: white;
    padding: 10px;
    cursor: pointer;
}

.btn-checkout:hover {
    background-color: #0056b3;
}

.btn-empty {
    background-color: #dc3545;
    border: none;
    color: white;
    padding: 10px;
    cursor: pointer;
}

.btn-empty:hover {
    background-color: #c82333;
}

/* Ajustar la vista de botones */
.adjust-quantity {
    background-color: #6c757d;
    border: none;
    color: white;
    padding: 5px 10px;
    cursor: pointer;
}

.adjust-quantity:hover {
    background-color: #5a6268;
}

#quantity {
    margin: 0 10px;
    font-size: 16px;
}
