/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Contenedor de productos */
#productList {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 20px;
}

/* Estilo para cada producto */
.product {
    border: 1px solid #ddd;
    padding: 10px;
    margin: 10px;
    width: 200px;
    text-align: center;
}

/* Contenedor del carrito */
#shoppingCart {
    position: fixed;
    right: 20px;
    top: 20px;
    border: 1px solid #ddd;
    padding: 10px;
    background-color: #f9f9f9;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Estilo del carrito */
#shoppingCart h2 {
    margin-top: 0;
}

#cartList {
    list-style-type: none;
    padding: 0;
}

#cartList li {
    margin-bottom: 5px;
}

button {
    margin: 5px;
    padding: 10px 20px;
    border: none;
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}
